<% include ./partials/header.ejs =%>
<h1>Showing results for <%= data["title"] %></h1>
<div class="container">
        <table class="table table-bordered" id="showTable">
                <tr>
                    <th>Date (yyyy-mm-dd)</th>
                    <th>Forecast</th>
                    <th>Accuracy</th>
                </tr>
                <% for(var i = 0; i < 5; i++) { %>
                   <tr>
                     <td><%= data["consolidated_weather"][i]["applicable_date"] %></td>
                     <td><%= data["consolidated_weather"][i]["weather_state_name"] %></td>
                     <td><%= data["consolidated_weather"][i]["predictability"] %>%</td>
                   </tr>
                <% } %>
        </table>
</div>
<a href="/">Go back to the landing page?</a>
<% include ./partials/footer.ejs =%>