.jumbotron {
    margin-top: 50px;
}
.form-control {
    max-width: 300px;
}

#searchContainer {
    padding-left: 33%;
}

#showTable {
    max-width: fit-content;
}

#resultsPanel {
    max-width: fit-content;
}

#resultsHeader {
    margin-top: 0;
    padding-left: 50px
}

h1 {
    color: pink;
}